[Unit]
Description=Sump Pump Monitor

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/sump_pump_monitor/src/sump_monitor_service.py

[Install]
WantedBy=default.target
